.Button {
    margin: 10px;
    background-color: #3585da;
    outline: none;
    cursor: pointer;
    border: 1px solid #bdd1ff;
    color: #093196;
    font-family: inherit;
    font-size: 0.9em;
    padding: 10px 15px;
    box-shadow: 2px 2px 2px #bdd1ff;
    display: inline-flex;
}

.Green {
    background-color: #35da45;
    color: #0e9609;
}

.Red {
    background-color: #da3535;
    color: #550707;
}

.Button:hover, .Button:active {
    background-color: #41dbc4;
    border: 1px solid #093196;
    color: #093196;
}

.Button:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.Button:not(:disabled) {
    animation: enable 0.3s linear;
}