.Error {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 35px;
    background-color: #da3535;
    color: #550707;
    border: 1px solid #550707;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-out;
}

.Show {
    transform: translateY(0);
    opacity: 1;
}

.Hidden {
    transform: translateY(-100vh);
    opacity: 0;
}